# Dependencias
node_modules/
.pnpm-store/
.pnp.cjs
.pnp.loader.mjs

# Builds / caches
.next/
out/
dist/
coverage/
.temp/
.tmp/
.cache/

# Sistemas / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
